<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${config.TITLE}"></title>
    <link rel="alternate" type="application/rss+xml" th:title="#{feed.title(${config.TITLE})}" href="/feed" />
    <link href="/webjars/bootstrap/4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/blog.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:insert="header"></nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="my-4">
                    <span th:text="${config.TITLE}"></span>
                    <small th:text="${config.SUBTITLE}"></small>
                </h1>
                <div th:each="post: ${posts}" class="card mb-4">
                    <div class="card-body">
                        <a th:if="${post.slug != null}" th:href="@{'/post/' + ${post.slug}}"><h2 th:text="${post.title}" class="card-title"></h2></a>
                        <a th:if="${post.slug == null}" th:href="@{'/post/' + ${post.id}}"><h2 th:text="${post.title}" class="card-title"></h2></a>
                        <p th:text="${post.content}" class="card-text"></p>
                        <a th:if="${post.slug != null}" th:href="@{'/post/' + ${post.slug}}" class="btn btn-primary">Read More &rarr;</a>
                        <a th:if="${post.slug == null}" th:href="@{'/post/' + ${post.id}}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        <span th:text="#{post.published.at}"></span>
                        <span th:text="${#temporals.format(post.publishedAt, 'MMMM dd, YYYY HH:mm')}"></span>
                        <span th:text="#{post.tags}"></span>
                        <th:block th:each="tag: ${post.tags}">
                            <a th:if="${tag.slug == null}" th:text="${tag.name}" th:href="@{'/tag/' + ${tag.id}}"></a>
                            <a th:if="${tag.slug != null}" th:text="${tag.name}" th:href="@{'/tag/' + ${tag.slug}}"></a>
                        </th:block>
                    </div>
                </div>
                <ul class="pagination justify-content-center mb-4">
                    <li th:if="not ${posts.last}" class="page-item">
                        <a class="page-link" th:href="@{${urlPrefix} + '/page/' + ${posts.number + 2}}" th:text="#{post.list.previous}"></a>
                    </li>
                    <li th:if="${posts.last}" class="page-item disabled">
                        <a class="page-link" href="#" th:text="#{post.list.previous}"></a>
                    </li>
                    <li th:if="not ${posts.first}" class="page-item">
                        <a class="page-link" th:href="@{${urlPrefix} + '/page/' + ${posts.number}}" th:text="#{post.list.next}"></a>
                    </li>
                    <li th:if="${posts.first}" class="page-item disabled">
                        <a class="page-link" href="#" th:text="#{post.list.next}"></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4" th:insert="sidebar"></div>
        </div>
    </div>

    <footer class="blog-footer" th:insert="footer"></footer>

    <script src="/webjars/jquery/3.3.1/dist/jquery.slim.min.js" ></script>
    <script src="/webjars/bootstrap/4.1.1/dist/js/bootstrap.min.js"></script>
</body>
</html>
